.loading {
    z-index: 9999999 !important;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
  }

  .loading svg {
    max-height: 90%;
  }

  .card-loading {
    z-index: 999 !important;
    position: absolute;
    top: 1000px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }